* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

.hero {
    height: 100vh;
    width: 100%;
    background: url(../mypic.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px 8% 0px 8%;
}

.logo {
    color: #d8dafc;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span {
    color: #f9004d;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover {
    color: #f9004d;
    transition: 0.4s;
}

.btn {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4;
}

.btn:hover {
    transform: scale(1.2);
}

.content {
    position: absolute;
    top: 50%;
    left: 26%;
    transform: translate(-50%);
}

h1 {
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}

h3 {
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}

h4 {
    color: #171617;
    letter-spacing: 2px;
    font-size: 20px;
}

.newslatter form {
    width: 388px;
    max-width: 100%;
    position: relative;
}

.newslatter form input:first-child {
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #f9004d;
    border-radius: 30px;
}

.newslatter form input:last-child {
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #f9004d;
    color: white;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 6px;
}

#about {
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}

#about img {
    height: auto;
    width: 430px;
}

.about-text {
    width: 550px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2 {
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5 {
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p {
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

button {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

button:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

.service {
    background: #101010;
    width: 100%;
    padding: 100px 0px;
}

.title h2 {
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card {
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #f9004d;
}

h5 {
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}

.pra p {
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card .button {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}

.card .button:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

.contact-me {
    width: 100%;
    height: 290px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contact-me p {
    color: white;
    font-size: 30 px;
    font-weight: bold;
    margin-bottom: 25px;
}

.contact-me .button-two {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

.contact-me .button-two:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

footer {
    width: 100%;
    height: 290px;
    background: #101010;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

footer p {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}


@media (max-width:1240px) {
    .content {
        position: absolute;
        top: 114%;
        left: 72%;
        transform: translate(-31%);
    }

    .service {
        height: 85rem;
        background: #101010;
        width: 100rem;
        padding: 259px 0px;
    }

    .hero {
        height: 113rem;
        width: 100rem;
        background: url(../mypic.jpeg) no-repeat;
        background-size: cover;
        background-position: center;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px 12% 0px 8%;
        flex-direction: column;
    }

    .logo {
        color: #d8dafc;
        font-size: 126px;
        letter-spacing: 5px;
        cursor: pointer;
        margin-right: 405px;
    }

    h1 {
        color: white;
        margin: 32px 0px 30px;
        font-size: 131px;
    }

    h3 {
        color: white;
        font-size: 55px;
        margin-bottom: 60px;
    }

    .newslatter form input:last-child {
        position: absolute;
        display: inline-block;
        outline: none;
        border: none;
        padding: 30px 82px;
        border-radius: 88px;
        background-color: #f9004d;
        color: white;
        box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
        top: 10px;
        right: 12px;
        font-size: 30px;
    }

    .newslatter form {
        width: 710px;
        max-width: 100%;
        position: relative;
    }

    .newslatter form input:first-child {
        display: inline-block;
        width: 100%;
        padding: 46px 130px 39px 33px;
        border: 2px solid #f9004d;
        border-radius: 67px;
        font-size: 28px;
    }

    nav ul li {
        list-style-type: none;
        display: inline-block;
        padding: 15px 31px;
        font-size: 51px;
        margin-top: 85px;
    }

    .btn {
        background-color: #f9004d;
        color: white;
        text-decoration: none;
        border: -2px solid transparent;
        font-weight: bold;
        padding: 28px 49px;
        border-radius: 30px;
        margin-left: 160vw;
        position: fixed;
        margin-top: 9px;
        font-size: 28px;
    }

    h4 {
        color: #171617;
        letter-spacing: 2px;
        font-size: 42px;
    }

    #about {
        width: 100rem;
        padding: 100px 0px;
        background-color: #191919;
        height: 79rem;
    }

    #about img {
        height: 68rem;
        width: 618px;
    }

    .about-text {
        width: 550px;
        margin-left: 38px;
        margin-bottom: 271px;
    }

    .about-text h2 {
        color: white;
        font-size: 104px;
        text-transform: capitalize;
        margin-bottom: 20px;
    }

    .about-text h5 {
        color: white;
        letter-spacing: 2px;
        font-size: 41px;
        margin-bottom: 28px;
        text-transform: capitalize;
    }

    .about-text p {
        color: #fcfc;
        letter-spacing: 3px;
        line-height: 31px;
        font-size: 31px;
        margin-bottom: 32px;
    }

    button {
        background-color: #f9004d;
        color: white;
        text-decoration: none;
        border: 2px solid transparent;
        font-weight: bold;
        padding: 28px 61px;
        border-radius: 66px;
        transition: .4s;
        font-size: 35px;
    }

    .title h2 {
        color: white;
        font-size: 110px;
        width: 1130px;
        margin: 0px auto;
        text-align: center;
        margin-top: -85px;
    }

    .box {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 538px;
    }

    .card {
        height: 365px;
        width: 358px;
        padding: 16px 30px;
        background: #191919;
        border-radius: 20px;
        margin: 46px;
        position: relative;
        overflow: hidden;
        text-align: center;
    }

    h5 {
        color: white;
        font-size: 34px;
        margin-bottom: 23px;
    }

    .card .button {
        background-color: #f9004d;
        color: white;
        text-decoration: none;
        border: 2px solid transparent;
        font-weight: bold;
        padding: 9px 22px;
        border-radius: 30px;
        transition: .4s;
        font-size: 30px;
    }

    .contact-me p {
        color: white;
        font-size: 43px px;
        font-weight: bold;
        margin-bottom: 25px;
        font-size: 44px;
    }

    .contact-me .button-two {
        background-color: #f9004d;
        color: white;
        text-decoration: none;
        border: 2px solid transparent;
        font-weight: bold;
        padding: 13px 30px;
        border-radius: 118px;
        transition: .4s;
        font-size: 56px;
    }

    footer p {
        color: white;
        font-size: 87px;
        font-weight: bold;
        margin-bottom: 25px;
    }
}